<h2><%=current_user.username.capitalize %></h2>
<% current_user.rounds.each do |round|   %>
<h3>Deck Played: <%=round.deck.name.capitalize  %></h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th><strong>Date</strong></th>
    <th><strong>Cards in Deck</strong></th>
    <th><strong>First Guess Correct</strong></th>
    <th><strong>Total Guesses</strong></th>
  </tr>
</thead>
<tbody>
<tr>
    <td><%=round.created_at.strftime('%A, %d %B %Y') %></td>
    <td><%=round.deck.cards.count %></td>
    <td><%=round.number_right_first_try  %></td>
    <td><%=round.guesses.count %></td>
  </tr>
</tbody>
</table>
<% end %>
