<h2><%=current_user.username %></h2>
 <!-- Erb start looping through all rounds and get statistics -->
<% current_user.rounds.each do |round|   %>
  <table>
    <thead>
      <!-- #Deck name goes here -->
      <th><%= round.deck.name  %></th>
    </thead>
    <tbody>
      <tr>
        <th>Date</th>
        <th>Cards in Deck</th>
        <th>First Guess Correct</th>
        <th>Total Guesses</th>
      </tr>
      <!-- #loop through each round played by user of deck -->
      <tr>
        <td><%= round.created_at %></td>
        <td><%= round.deck.cards.count %></td>
        <td><%= round.number_right_first_try  %></td>
        <td><%= round.guesses.count %></td>
      </tr>
    </tbody>
  </table>
<% end %>
